body
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-direction: column;
    vertical-align: center;
    margin: 0;
    height: 100%;
}

.header
{
    background-color: #1F2937;
    padding: 0;
}

.head-top
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

a
{
    list-style-type: none;
    color: white;
    text-decoration: none;
}

.links ul
{
    display: flex;
    list-style-type: none;
    gap: 20px;
    color: white;
}

.link ul li
{
    margin-left: 20px;
}

button
{
    background-color: #3882F6;
    border-radius: 12px;
    border: none;
    padding: 10px 40px;
    color: white;
    font-weight: 600;
    
}

.hero-img img
{
    border-radius: 12px;
}


h1
{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

h2
{
    text-align: center;
    font-size: 32px;
    font-weight: 900;
    color: #1F2937  ;
}

.header-content p
{
    color: #E5E7EB;
    font-size: 18px;
}

.header-content
{
    width: 350px
}

.header-hero
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
    padding-bottom: 100px;
    margin: 0 auto;

}

.content
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

figure
{
    width: 150px;
}

figure img
{
    width: 150px;
    height: 100px;
    text-align: center;
    border-radius: 12px;
    border:3px solid #3882F6;
}

figure figcaption
{
    text-align: center;
}

blockquote
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding-left: 370px;
    padding-right: 370px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 50px 0 0 auto;
    border: 5px solid red;
}

blockquote q
{
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
}

footer
{
    display: inline;
    float: right;
}


